{% load static %}

<hr/>
<body background="static/img/img.jpg">
    <h1 style="text-align:center">Admin Login</h1>
<form method="POST">
    {%csrf_token %}

<table style="border:1px solid black; margin-left:auto; margin-right:auto;">
    <tr>
        <td>Admin UserName</td>
        <td><input type= "text" placeholder="Enter Username" name="Adminname"  required></td>
    </tr>
   
    <tr>
        <td>Password</td>
        <td><input type= "password" placeholder="Enter password" name="Pass"  required></td>
    </tr>

        <td></td>
        <td><button type="submit" >Register</button></td>
    </tr>
    

</table>
{%if messages%}
{% for msg in messages%}
<b>{{msg}}</b>

{% endfor%}
{% endif %}
<hr/>
<em> <a href="{% url 'index' %}" >Home </a></em>
</form>